/homework/nodejs/financial/node_modules
/homework/nodejs/users/node_modules

aula_android/aula2_new/*.iml
aula_android/aula2_new/.gradle
aula_android/aula2_new/local.properties
aula_android/aula2_new/.idea/caches
aula_android/aula2_new/.idea/libraries
aula_android/aula2_new/.idea/modules.xml
aula_android/aula2_new/.idea/workspace.xml
aula_android/aula2_new/.idea/navEditor.xml
aula_android/aula2_new/.idea/assetWizardSettings.xml
aula_android/aula2_new/.DS_Store
aula_android/aula2_new/build
aula_android/aula2_new/captures
aula_android/aula2_new/.externalNativeBuild
aula_android/aula2_new/.cxx
aula_android/aula2_new/local.properties