/homework/nodejs/financial/node_modules
/homework/nodejs/users/node_modules

aula_android/aula2/*.iml
aula_android/aula2/.gradle
aula_android/aula2/local.properties
aula_android/aula2/.idea/caches
aula_android/aula2/.idea/libraries
aula_android/aula2/.idea/modules.xml
aula_android/aula2aula_android/aula2/.idea/workspace.xml
aula_android/aula2/.idea/navEditor.xml
aula_android/aula2/.idea/assetWizardSettings.xml
aula_android/aula2/.DS_Store
aula_android/aula2/build
aula_android/aula2/captures
aula_android/aula2/.externalNativeBuild
aula_android/aula2/.cxx
aula_android/aula2/local.properties